@font-face {
  font-family: "Eulyoo1945-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* font-family: "Fira Sans", sans-serif; */
  font-family: "Eulyoo1945-Regular";
}
*::-webkit-scrollbar {
  display: none;
}

body {
  height: 100%;
  overflow: scroll;

  background: black; /* Fallback */
  animation: color 15s infinite linear;
}

img {
  height: 100%;
}

@keyframes color {
  0% {
    background: black;
  }
  25% {
    background: darkgray;
  }
  50% {
    background: rgb(179, 177, 177);
  }
}
